django==5.1.7
djangorestframework==3.16.0
celery==5.4.0
redis==5.2.1
django-celery-beat==2.7.0
django-redis==5.4.0
django-celery-results==2.6.0
sentry-sdk==2.25.0
python-dotenv==1.1.0
psycopg2-binary==2.9.10
debugpy==1.8.13
django-celery-beat==2.7.0
django-redis==5.4.0
djangorestframework-simplejwt[crypto]==5.5.0
django-storages[s3]==1.14.5
pillow==11.1.0